
<p *ngIf="user$ | async as user" style="text-align: center">Hey {{ user.first_name }} {{ user.last_name }}! Here's your cart!</p>


<div class="cart-container">


    <div *ngFor="let product of cart$ | async" class="cart-row">

        <img class="cart-image" [src]="product.images[0].small" alt="Product Image">
        
        <div style="width: 100px">
            <h5 style="font-weight: 400">{{ product.name }}</h5>
            <!-- <span [innerHTML]="product.description"></span> -->
        </div>

        <div class="far-right-side">

            <div>
                <p [ngClass]="product.credit_coupon_price < product.price ? 'old-price' : ''">{{ product.price | currency }}</p>
                <p *ngIf="product.credit_coupon_price < product.price" class="discounted-price">{{ product.credit_coupon_price | currency }}!</p>
            </div>
    
            <div class="quantity-price-section">
                <mat-form-field style="width: 50px">
                    <mat-label>Quantity</mat-label>
                    <mat-select [(ngModel)]="product.quantity" (ngModelChange)="updateProduct(product)">
                        <mat-option *ngFor="let qty of quantityOptions" [value]="qty">
                            {{ qty }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
        
                <span>
                    {{ product.quantity * (product.credit_coupon_price || product.price) | currency }}
                </span>
            </div>
    
            <div>
                <button mat-icon-button color="warn" (click)="removeProduct(product.product_id)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

        </div>



    </div>

    <hr>

    <div style="width: 200px; margin-left: auto;">

        <p>Subtotal: {{ subtotal | currency }}</p>

        <p>Discounts: {{ total - subtotal | currency }}</p>

        <h3>Total: {{ total | currency }}</h3>

    </div>

    <button
        mat-raised-button
        (click)="resetCart()"
        style="display: block; margin: 1em auto;">
        Reset Cart
    </button>


</div>
