.search-input {
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 90%;
    max-width: 666px; // ;)
}

.search-results-container {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
}

.search-result-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
