
<p style="text-align: center">Search All Products and then add some to your cart!</p>


<mat-form-field class="search-input">
    <input
        matInput
        type="text"
        placeholder="Search!"
        (input)="onSearchInput($event)"
        autocomplete="off">
</mat-form-field>


<div *ngIf="searchResults$" class="search-results-container">


    <div *ngFor="let product of searchResults$ | async" class="search-result-row">

        <img [src]="product.images[0].small" alt="Product Image">

        <div style="max-width: 150px">
            <h5 style="font-weight: 400">{{ product.name }}</h5>
            <span [innerHTML]="product.description"></span>
        </div>

        <div>
            <div class="price-qty">
                <div>
                    <p [ngClass]="product.credit_coupon_price < product.price ? 'old-price' : ''">{{ product.price | currency }}</p>
                    <p *ngIf="product.credit_coupon_price < product.price" class="discounted-price">{{ product.credit_coupon_price | currency }}!</p>
                </div>

                <mat-form-field style="width: 50px">
                    <mat-label>Quantity</mat-label>
                    <mat-select [(ngModel)]="product.quantity" (ngModelChange)="updateProduct(product)">
                        <mat-option *ngFor="let qty of quantityOptions" [value]="qty">
                            {{ qty }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <button mat-raised-button color="accent" (click)="addToCart(product)">
                <mat-icon>add_shopping_cart</mat-icon>
                Add to Cart!
            </button>
        </div>

    </div>


</div>